*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.page-body {
  min-width: $min-width;
  max-width: 100%;
  min-height: 100vh;

  font-family: $font-family--norms;

  &--lock {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.wrapper {
  max-width: $max-width;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
