.title {
  font-family: $font-family--norms;
  font-style: normal;
  line-height: 130%;

  &--medium {
    font-weight: 600;
    color: $color-text--primary;
  }
}

.text {
  font-family: $font-family--norms;
  font-style: normal;
  line-height: 130%;

  &--regular {
    font-weight: 400;
    color: $color-text--secondary;
  }

  &--medium {
    font-weight: 500;
    color: $color-text--primary;
  }
}

.caption {
  font-family: $font-family--norms;
  font-style: normal;
  line-height: 130%;

  &--regular {
    font-weight: 400;
    color: $color-text--secondary;
  }
}

.caps {
  font-family: $font-family--norms;
  font-style: normal;
  line-height: 130%;

  text-transform: uppercase;

  &--medium {
    font-weight: 600;
    color: $color-text--primary;
  }
}
